* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --background: #0D030C;
  /* different types of purple */
  --color1: #360C30;
  --color2: #350D42;
  --color3: #591553;
  --color4: #290924;

  --accent: #03E2CC;


  --title-big: clamp(2rem, 1.259rem + 3.951vw, 6rem);
  --title-small: 3em;

  --text-big: clamp(1rem, 0.815rem + 0.988vw, 2rem);
  --text-small: 2rem;

  --link-small: 1.5rem;
}

section {
  /* deze met variabele */
  background-color: var(--background);
  color: var(--accent);
  /* deze met een clamp? */
  width: 80dvw;
  aspect-ratio: 3/2;

  display: flex;
  /* gap: 0 1em; */

  border-radius: 1rem;

  /* marqueee */
  /* background-color: red; */
  position: relative;
  /* Maak deze div een anker */
  /* height: 40vh; */
  /* width: 100vw; */
  overflow: hidden;
  container-type: inline-size;

  &>img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;

    background-color: var(--color2);
    /* grid-area: image; */
    grid-column: 1;
    grid-row: span 4;

    z-index: 2;
  }

  div {
    grid-column: 2;
    grid-row: span 4;
    /* background-color: royalblue; */

    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto auto auto auto auto;

    padding-inline-start: .5em;

    h2 {
      font-size: var(--title-big);
      font-weight: bold;

      grid-column: 1;
      grid-row: 1;

      padding-block: .5rem;
    }

    p {
      color: white;
      font-size: var(--text-big);
      grid-column: 1;
      grid-row: span 1 2;
    }

    .country {
      grid-column: 2/4;
      grid-row: 5;

      width: clamp(5rem, 3.704rem + 6.914vw, 12rem);
      padding-inline-end: .5em;

      /* background-color: yellow; */
      fill: var(--accent);
    }

    .site {
      grid-column: 1;
      grid-row: -1;

      width: fit-content;
      height: fit-content;

      display: flex;
      color: var(--accent);

      margin-bottom: .5rem;

      & p {
        color: var(--accent);
      }

      &:hover {
        color: var(--background);
        background-color: var(--accent);

        & p {
          color: var(--background);
        }
      }

      & svg {
        display: inline-block;
        height: var(--text-big);
        padding-inline-start: .5rem;
        align-self: center;

      }
    }

    .github,
    .codepen {
      width: fit-content;
      aspect-ratio: 1/1;
      height: fit-content;
      /* background-color: red; */

      border: none;
      margin: .5rem;
      /* padding: 0; */

      grid-column: 2;
      grid-row: 1;

      & svg {
        width: clamp(1rem, 0.444rem + 2.963vw, 4rem);
        padding: 0;

        fill: white;
        transition: 300ms
      }

      &:hover,
      &:focus {
        & svg {
          fill: var(--accent);
        }
      }


    }

    .github {
      grid-column: 3;
    }
  }
}

.quote {
  font-style: italic;

  &::before,
  &::after {
    content: '"';
  }
}

a,
button {
  font-size: var(--text-big);
  text-decoration: none;
  /* background-color: var(--background); */
  border: var(--accent) 2px solid;
  padding-inline: .5rem;
  padding-block: .2rem;
  border-radius: .5rem;
}

@media (max-width: 600px) {
  section {
    flex-direction: column;
    aspect-ratio: 2/3;

    img {
      width: 100%;
      height: 50%;
      border-radius: 1rem 1rem 0 0;
    }

    ;
  }
}

footer {
  width: 100px;
  height: 100px;
  border: black 5px solid;
  display: grid;
  place-items: end;
  position: absolute;

  svg {
    width: 50%;
    height: 50%;
    /* fill: red; */
    rotate: -90deg;
    transform-origin: center left;
    animation: swipe 4s infinite linear;
    position: absolute;
  }

  &::after,
  &::before {
    content: "";
    width: 30px;
    height: 3px;
    display: block;
    background-color: var(--accent);
    border-radius: 50em;
    position: relative;
    transform-origin: center left;

    place-self: center;

    transform: scaleX(0%);
  }

  &::before {
    left: 5%;
    animation: line1 4s infinite linear;
    /* background-color: var(--color1); */
  }

  &::after {
    top: -85%;
    left: 15%;
    animation: line2 4s infinite linear;
  }
}


@keyframes swipe {

  /* base */
  0% {
    transform:
      rotate(0deg) translateX(0%);
  }

  /* windup right */
  15% {
    transform: rotate(4deg) translateY(20%);
  }

  /* go left */
  35% {
    transform: rotate(-4deg) translateY(-20%);
  }

  /* to base */
  50% {
    transform:
      translateX(0%);
    top: 50%;
  }

  /* windup bottom */
  65% {
    transform:
      rotate(-10deg);
    top: 65%;
  }

  /* go up */
  85% {
    transform:
      rotate(-10deg);
    top: 40%;
  }

  /* end in base */
  100% {
    transform:
      rotate(0deg) translateX(0%);
    top: 50%;
  }
}

/* the purple one */
@keyframes line1 {

  /* base */
  0% {
    width: 0%;
    transform: rotate(0deg);
    opacity: 0%;
  }

  /* windup right */
  15% {
    width: 0%;
    opacity: 0%;
  }

  /* go left */
  35% {
    width: 30px;
    transform: rotate(0deg);
    opacity: 100%;
  }

  /* to base */
  50% {
    width: 0px;
    transform: rotate(0deg);
    opacity: 0%;
    left: 5%;
    top: 0%;

  }

  /* windup bottom */
  60% {
    transform: rotate(-90deg) scaleX(0);
    opacity: 0%;
    width: 30px;

    top: 15%;
    left: -5%;
  }

  65% {
    /* width: 0; */
    transform: rotate(-90deg) scaleX(0);
    opacity: 100%;
  }

  /* go up */
  85% {
    transform: rotate(-90deg) scaleX(80%);
    opacity: 100%;
    transform-origin: center left;
  }

  /* end in base */
  100% {
    transform-origin: bottom left;
    transform: rotate(-90deg) scaleX(0);
    opacity: 0%;
    top: 15%;
    left: -5%;
  }
}

/* the blue one */
@keyframes line2 {

  /* base */
  0% {
    width: 0%;
    transform: rotate(0deg);
    opacity: 0%;
  }

  /* windup right */
  15% {
    width: 0%;
    opacity: 0%;
  }

  /* go left */
  35% {
    width: 30px;
    transform: rotate(0deg);
    opacity: 100%;
  }

  /* to base */
  50% {
    width: 0px;
    transform: rotate(0deg);
    opacity: 0%;
    top: -85%;
    left: 15%;
  }

  /* windup bottom */
  60% {
    transform: rotate(-90deg) scaleX(0);
    opacity: 0%;
    width: 30px;
    top: -70%;
    left: -13%;
  }

  65% {
    transform: rotate(-90deg) scaleX(0);
    opacity: 100%;
  }

  /* go up */
  85% {
    width: 30px;
    transform: rotate(-90deg) scaleX(80%);
    opacity: 100%;
    top: -70%;
    left: -13%;
    transform-origin: center left;
  }

  /* end in base */
  100% {
    transform-origin: bottom left;
    transform: rotate(-90deg) scaleX(0);
    opacity: 0%;

    top: -70%;
    left: -13%;
  }
}



/* dit ie een h1 */
.time-period {
  color: #ffffff;
  font-size: 10cqi;
  animation: billbordEffect 15s linear infinite;
  position: absolute;
  bottom: 0;
  right: 0;
  text-box: trim-both cap alphabetic;
}

/* dit is de animatie */
@keyframes billbordEffect {
  0% {
    transform: translateX(0);
    opacity: .3;
  }

  49% {
    transform: translateX(-140%);
    opacity: .3;
  }

  50% {
    transform: translateX(-140%);
    opacity: 0;
  }

  51% {
    transform: translateX(140%);
    opacity: 0;
  }

  52% {
    transform: translateX(140%);
    opacity: .3;
  }

  100% {
    transform: translateX(0);
    opacity: .3;
  }
}