* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple-100: #0d030c;
  --purple-200: #290924;
  --purple-300: #350d42;
  --purple-400: #360c30;
  --purple-500: #591553;

  --green: #03e2cc;
}

::-webkit-scrollbar {
  display: none;
}

html {
  background-color: var(--purple-100);
}

body {
  font-family: "montserrat", sans-serif;
}

.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--green);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;

  & div {
    width: 50%;
    overflow: hidden;

    & svg {
      color: var(--purple-100);
      width: 100%;
      object-fit: contain;
      animation: loading-animation 500ms ease-in-out forwards;
    }
  }
}

main > section {
  display: flex;
  gap: 1rem;
}

.cards-wrapper {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: scroll-animation ease-in forwards;
  animation-timeline: scroll();

  & .starting-card {
    background-color: transparent;
    color: white;
    overflow: hidden;
    border-radius: 10px;
    width: 18rem;
    height: 26rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.25rem;
    padding-bottom: 1.75rem;
    text-align: center;

    & .card-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      height: 100%;

      & h3 {
        font-size: 2rem;
        font-weight: normal;
      }

      & img {
        opacity: 1;
        width: 25%;
        height: auto;
        object-fit: contain;
        position: relative;
        margin-top: 1rem;
      }

      &:hover {
        & img {
          opacity: 1;
        }
      }

      & p {
        opacity: 0.6;
      }
    }
  }

  & .card {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 10px;
    background-color: var(--green);
    width: 18rem;
    height: 26rem;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.25rem;
    padding-bottom: 1.75rem;

    & .card-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      & h3 {
        font-size: 2.75rem;
        text-overflow: ellipsis;
      }

      & p:last-of-type {
        margin-top: auto;
      }
    }

    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      opacity: 1;
      transition: 500ms;
      transition-delay: 500ms;
    }

    &:hover {
      & img {
        opacity: 0;
      }
    }
  }
}

@keyframes scroll-animation {
  to {
    transform: translateY(var(--scroll-direction));
  }
}

@keyframes loading-animation {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}
